# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IDE meta data
.settings
.project
.buildpath
.idea
.vscode

node_modules
npm-debug.log
yarn-error.log

# vagrant
.vagrant

# cache files
.sass-cache

# DRUPAL Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/settings*.yml
sites/*/services*.yml
development.services.yml
sites/simpletest
# patches/


# DRUPAL Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/*.local
sites/*.dev

# tmp files
*scsslint_tmp*.css
